body{
background-color: dimgray;
margin:0;
font-family: 'Times New Roman', Times, serif;
}
header{
background-color: black;
align-items: center;
justify-content: space-between;
padding: 20px;
display: flex; 
}
h1{
color: aliceblue;
font-size: 30px ;
}
input{
width: 100px;
height: 10px;
}
button{
background-color: rgb(7, 183, 27);
width: 50px;
border-radius: 30px;
}